---
layout: default
---

<h1 style="margin-bottom: 1.5rem">
  <img src="/images/serbea-logomark.svg" alt="" style="height: 120px; vertical-align: middle;margin-bottom:20px" />
  <img src="/images/serbea-logotype.svg" alt="Serbea" style="height: 60px; vertical-align: middle;margin-top:0px;margin-left:20px;margin-right:20px" />
</h1>

<p style="font-size: 1.5rem;text-align: center">Similar to ERB, Except Awesomer. 😉<p>


{{ content }}
